@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&family=Quicksand&display=swap');


#overlay{
    width: 100%;
    height: 100%;
    position: relative;
    color: whitesmoke;
    transform: translateY(-16%);
}

form{
    max-width: 600px;
    width: 90%;
    margin: 17vh auto 0 auto;
    padding: 40px;
    box-sizing: border-box;
}

.signin_title_h1{
    text-align: center;
    font-size: 5vh;
    margin: 5vh;
}

.form-control input{
   width: 100%;
   padding: 10px;
   box-sizing: border-box;
   outline: none;
   resize: none;
   border: none;
   border-bottom: 1px solid #CED4DA;
}

.form-control input[type="radio"] {
    width: auto;
    padding: 0px;
    box-sizing: border-box;
    outline: none;
    resize: none;
    border: none;
    border-bottom: 0px;
}

.form-control label {
    display: block;
    margin: 20px 0;
}

.form-control .radio-label {
    display: unset;
    margin-right: 10px;
}

.center{
    text-align: center;
    margin: 20px;
}

input[type="submit"]{
    padding: 10px;
    border: none;
    margin-top: 20px;
    width: 50%;
    max-width: 300px;
    background-color: #0996e2;
    color: whitesmoke;
    font-size: medium;
    cursor: pointer;
    border-radius: 10px;
}

input[type="submit"]:focus{
    border: none;
    margin-top: 20px;
    width: 50%;
    max-width: 300px;
    background-color: #0044ff;
    color: whitesmoke;
}

input[type="radio"]{
    display: inline;
}

.error {
    color: #00FFD0;
}

.error-border{
    border-bottom: 1px solid #00FFD0;
}

#success{
    color: greenyellow;
    font-weight: bolder;
    font-size: larger;
}